<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #one{
            background-color: lightblue;
            height: 240px;
        }
        #two{
            background-color: lightseagreen;
            height: 240px;
        }
        #three{
            background-color: lightgreen;
            height: 240px;
        }
    </style>
</head>
<body>
    <h1><a href="{% url 'attributs' %}"> click</a></h1>
    <div id = 'one'></div>
    <div id = 'two'></div>
    <div id="three"></div>

</body>
</html>